# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.public

coverage
auto-imports.d.ts
assets/styles/main.css
assets/styles/main.css.map
assets/styles/output.css
assets/styles/output.css.map